.guestbook-post-wrapper
  .guestbook-post
    = link_to '', post_guestbook_index_path(post), method: :delete, class: 'delete-link pull-right' if current_user && current_user.is_admin?
    .guestbook-post-content
      .guestbook-post-image
        = image_tag post.user.avatar_url(:thumb)
      .guestbook-post-title= post.user.nickname
      .guestbook-post-message= post.message
      .clear
    %footer
      - if !user_signed_in?
        = link_to 'Комментировать', new_user_session_path
      - elsif !post.comments.any?
        %span.lets-comment Комментировать
      = get_time post.created_at
  %hr
  .guestbook-post-comments
    .guestbook-post-comments__list
      = render post.comments
    - if user_signed_in?
      .guestbook-post-comments__new{style: ('display:none' unless post.comments.any?)}
        = render partial: 'new_comment', locals: {post: post, guestbook_comment: @guestbook_comment}
        
      