.guestbook-post-wrapper
  .guestbook-post
    = link_to '', post_guestbook_index_path(post), method: :delete, class: 'delete-link pull-right' if current_user && current_user.is_admin?
    .guestbook-post-content
      .guestbook-post-image
        = image_tag post.user.avatar_url(:thumb)
      .guestbook-post-title= post.user.nickname
      .guestbook-post-message= post.message
      .clear
    %footer
      = get_time post.created_at
  - if current_user || post.comments.any?
    %hr
  .guestbook-post-comments
    .guestbook-post-comments_list
      = render post.comments
    - if @guestbook_comment.present? && user_signed_in?
      .guestbook-post-comments__new
        = render partial: 'new_comment', locals: {post: post, guestbook_comment: @guestbook_comment}
        
      