%legend
  Список
  .pull-right
    = link_to 'Комментарии', admin_girls_comments_path, class: 'btn'
    = link_to 'Добавить', new_admin_girl_path, class: 'btn'

%table.table.table-striped
  %thead
    %tr
      %th
        Имя
      %th
        Возраст
      %th
        Рост
      %th
        Вес
      %th
        Бюст
      %th
        = '...'
  %tbody
    - @girls.each do |girl|
      %tr
        %td
          = girl.name
          %br
          = link_to 'Расписание', admin_girl_schedule_path(girl)
        %td
          = girl.age.to_s
        %td
          = girl.height.to_s
          см
        %td
          = girl.weight.to_s
          кг
        %td
          = girl.bubs.to_s
          размер
        %td
          = link_to 'изменить', edit_admin_girl_path(girl)
