.comment
  = link_to '', comment_path(comment), method: :delete, remote: true, class: 'delete-link pull-right'
  .comment-image
    = image_tag comment.user.avatar_url(:thumb)
  .comment-content
    .comment-title
      %span.name= comment.user.nickname
      %span.created_at
        в
        = get_time comment.created_at
    .comment-message= comment.message
    .clear
    