%section#programs
  .wrapper
    .title
      Массажные программы
      - if Program.first.present?
        %small
          = form_tag programs_path, method: :get do
            = select_tag 'programs_filter[duration_cd]', options_from_collection_for_select(Program.duration_filter, 'value', 'title', (params[:programs_filter][:duration_cd] if params[:programs_filter].present?)), prompt: 'Длительность программы'
            = select_tag 'programs_filter[girls_count]', options_from_collection_for_select(Program.girls_count_filter, 'value', 'title', (params[:programs_filter][:girls_count] if params[:programs_filter].present?)), prompt: 'Количество девушек'
            = select_tag 'programs_filter[price]', options_from_collection_for_select(Program.price_filter, 'value', 'title', (params[:programs_filter][:price] if params[:programs_filter].present?)), prompt: 'Стоимость'
            %input(type="submit" value="Применить") 
          - if params[:programs_filter].present?
            или
            %form{method: :get, action: programs_path}
              %input(type="submit" value="Сбросить") 
      - else
        %small Программы появятся в ближайшее время
    .massage-programs
      = render @programs
