.girl{data: {girl: {id: girl.id}}}
  .avatar
    = image_tag girl.avatar_url(:preview)
  .info
    .name
      = girl.name
      - if girl.available_today
        %small
          работает сегодня
    .parameters
      .parameter
        .label
          Возраст:
        .value
          = girl.age.to_s
          лет
      .parameter
        .label
          Грудь:
        .value
          = girl.bubs.to_s
          размер
      .parameter
        .label
          Рост:
        .value
          = girl.height.to_s
          см
      .parameter
        .label
          Вес:
        .value
          = girl.weight.to_s
          кг
      -#.parameter
        .label
          Глаза:
        .value
          = girl.eyes