!!! 5
%html
  %head
    = csrf_meta_tags
    = display_meta_tags
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU'
  %body
    .overlay
    .modal-wrapper
      .olo
        .modal-close
          %a#close-modal{href: '#'}
            закрыть (х)
        .modal

    .topbar
      .wrapper
        .logo
          8 (962) 918-69-85
          %small
            %br
            Метро Динамо.
            &nbsp;&nbsp;&nbsp;
            Круглосуточно

        %ul.navigation
          %li= link_to 'Главная', root_path, class: 'nav-link'
          %li= link_to 'Девушки', girls_path, class: 'nav-link'
          %li= link_to 'Программы', programs_path, class: 'nav-link'
          %li= link_to 'Гостевая книга', guestbook_index_path, class: 'nav-link'
          - if user_signed_in?
            %li
              = link_to 'Личный кабинет', user_index_path
              = link_to 'Выход', destroy_user_session_path, method: :delete
          - else
            %li= link_to 'Личный кабинет', new_user_session_path
          %li
            %a.get-call{href: '#'}
              Заказать звонок
    .content
      = yield
    .request-call-dialog
      .header-transparent
      .arrow-up
      .content
        .success
          Мы вам скоро перезвоним!
        %form
          %input{type: :text, name: :username, placeholder: 'Ваше имя'}
          %input{type: :text, name: :phone, placeholder: 'Ваш телефон'}
          .submit#submit-order
            Заказать звонок
    = render partial: 'layouts/metrika'
    = javascript_include_tag 'application'
    = javascript_include_tag 'rails'